.list-titles {
  position: absolute;
  height: 33px;
  left: 197px;
  top: 353px;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

ul {
  margin-top: 0;
  margin-bottom: 14px;
}

::marker {
  content: '○';
}

ul li {
  padding-left: 0.5em;
}

li img {
  padding-right: 15px;
}
