@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.new-list {
  margin-top: 76px;
  padding-bottom: 8px;
  width: 342px;
  height: 33px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border: none;
  border-bottom: 3px solid #FFFFFF;
  background: none;
}

.add-icon {
  padding-right: 15px;
  transform: scale(1.2);
  stroke: #FFFFFF;
  stroke-width: 1;
}

::placeholder {
  color: #FFFFFF;
  font-style: italic;
  font-size: 28px;
  letter-spacing: 0.01em;
}

input:focus {
  outline-width: 0;
}
